<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <meta name=Generator content="Microsoft Word 15 (filtered)">
  <style>
    <!--
    /* Font Definitions */
    @font-face {
      font-family: "Courier New";
      panose-1: 2 7 3 9 2 2 5 2 4 4;
    }

    @font-face {
      font-family: Wingdings;
      panose-1: 5 0 0 0 0 0 0 0 0 0;
    }

    @font-face {
      font-family: "Cambria Math";
      panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
      font-family: Didot;
      panose-1: 2 0 5 3 0 0 0 2 0 3;
    }

    @font-face {
      font-family: "ヒラギノ角ゴ Pro W3";
    }

    @font-face {
      font-family: Tahoma;
      panose-1: 2 11 6 4 3 5 4 4 2 4;
    }

    @font-face {
      font-family: Georgia;
      panose-1: 2 4 5 2 5 4 5 2 3 3;
    }

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
    }

    h1 {
      margin-top: 9.0pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 0cm;
      margin-bottom: .0001pt;
      font-size: 11.0pt;
      font-family: Didot;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2.2pt;
    }

    h2 {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
    }

    p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
    }

    p.MsoHeader, li.MsoHeader, div.MsoHeader {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
    }

    p.MsoFooter, li.MsoFooter, div.MsoFooter {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
    }

    a:link, span.MsoHyperlink {
      color: blue;
      text-decoration: underline;
    }

    a:visited, span.MsoHyperlinkFollowed {
      color: purple;
      text-decoration: underline;
    }

    p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 8.0pt;
      font-family: Tahoma;
    }

    p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 10.0pt;
      font-family: "Times New Roman", serif;
      font-weight: bold;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 36.0pt;
      margin-bottom: .0001pt;
      font-size: 12.0pt;
      font-family: "Times New Roman", serif;
    }

    span

    .2
    {
      font-weight: bold
    ;
    }
    span.a2 {
      font-weight: bold;
    }

    p.Name, li.Name, div.Name {
      margin: 0cm;
      margin-bottom: .0001pt;
      text-align: right;
      font-size: 18.0pt;
      font-family: Didot;
      color: black;
    }

    p.SenderInfo, li.SenderInfo, div.SenderInfo {
      margin: 0cm;
      margin-bottom: .0001pt;
      text-align: right;
      font-size: 9.0pt;
      font-family: Didot;
      color: black;
    }

    span

    .1
    {
      font-family: Didot
    ;
      color: black
    ;
      text-transform: uppercase
    ;
      letter-spacing: 2.2pt
    ;
      font-weight: bold
    ;
    }
    p.Body, li.Body, div.Body {
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 9.0pt;
      margin-left: 0cm;
      font-size: 9.0pt;
      font-family: Didot;
      color: black;
    }

    span.a3 {
      font-family: Tahoma;
    }

    .MsoChpDefault {
      font-size: 10.0pt;
    }

    /* Page Definitions */
    @page WordSection1 {
      size: 612.0pt 792.0pt;
      margin: 36.0pt 72.0pt 72.0pt 72.0pt;
    }

    div.WordSection1 {
      page: WordSection1;
    }

    /* List Definitions */
    ol {
      margin-bottom: 0cm;
    }

    ul {
      margin-bottom: 0cm;
    }

    -->
  </style>

</head>

<body lang=RU link=blue vlink=purple>

<div class=WordSection1>

<p class=Name align=left style='text-align:left'><b><span lang=EN-US
                                                          style='font-size:24.0pt;font-family:"Georgia",serif'>&nbsp;</span></b>
</p>

<p class=Name align=center style='text-align:center'><b><span lang=EN-US
                                                              style='font-size:24.0pt;font-family:"Georgia",serif'>{{ r.first_name }} {{ r.last_name }}</span></b>
</p>

<p class=SenderInfo align=center style='text-align:center'><span lang=EN-US
                                                                 style='font-size:8.0pt;font-family:"Georgia",serif'>{{ r.address_line_1 }} </span>
</p>

<p class=SenderInfo align=center style='text-align:center'><span lang=EN-US
                                                                 style='font-size:8.0pt;font-family:"Georgia",serif'>  {{ r.city }}, {{ r.state }}, {{ r.zip_code }} </span>
</p>

<p class=SenderInfo align=center style='text-align:center'><span lang=EN-US
                                                                 style='font-size:8.0pt;font-family:"Georgia",serif'>{{ r.phone }}</span>
</p>

<p class=SenderInfo align=center style='text-align:center'><span lang=EN-US><a
  href="mailto:your@email.com"><span
  style='font-size:8.0pt;font-family:"Georgia",serif'>{{ r.email }}</span></a></span></p>

{#<p class=SenderInfo align=center style='text-align:center'><span lang=EN-US#}
{#                                                                 style='font-size:8.0pt;font-family:"Georgia",serif'>&nbsp;</span>#}
{#</p>#}

{#<p class=MsoNormal align=center style='text-align:center;line-height:11.0pt'><i><span#}
{#  lang=EN-US>Administrative Assistant with 6+ years of experience flawless#}
{#preparation of presentations, preparing facility reports and maintaining the utmost#}
{#confidentiality.  Possesses a B.A. in History and expertise in Microsoft Excel.#}
{#Looking to leverage my knowledge and experience into a role as Project Manager.</span></i></p>#}

{#<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>#}

<p class=MsoNormal>

<table cellpadding=0 cellspacing=0 align=left>
  <tr>
    <td width=1 height=10></td>
  </tr>
  <tr>
    <td></td>
    <td><img width=509 height=1
             src="Classic%20B&amp;W%20Template%20(RWD).fld/image001.gif"></td>
  </tr>
</table>

<span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Georgia",serif'>&nbsp;</span></p>

<br clear=ALL>

<h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm'><span lang=EN-US style='font-size:12.0pt;font-family:"Georgia",serif'>Professional
Experience</span></h1>

<h2><span lang=EN-US style='font-family:"Georgia",serif;color:black;text-transform:
uppercase'>REDFORD &amp; SONS</span><span lang=EN-US style='font-family:"Georgia",serif;
color:black'>, Boston, MA </span></h2>

<h2><span lang=EN-US style='font-family:"Georgia",serif;color:black;font-weight:
normal'>Administrative Assistant, September 2011 – Present</span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
36.0pt;margin-bottom:.0001pt'><span lang=EN-US style='font-family:"Georgia",serif;
font-weight:normal'>&nbsp;</span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt'><span lang=EN-US
                                                        style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-US style='font-family:"Georgia",serif;font-weight:
normal'>Schedule and coordinate meetings, appointments, and travel arrangements
for supervisors and managers</span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt'><span lang=EN-US
                                                        style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=apple-style-span><span lang=EN-US style='font-family:
"Georgia",serif;font-weight:normal'>Trained 2 administrative assistants during
a period of company expansion to ensure attention to detail and adherence to
company policy</span></span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt'><span class=apple-style-span><span
  lang=EN-US style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span
  class=apple-style-span><span lang=EN-US style='font-family:"Georgia",serif;
font-weight:normal'>Developed new filing and organizational practices, saving
the company $3,000 per year in contracted labor expenses</span></span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
22.3pt;margin-bottom:.0001pt;text-indent:-4.3pt'><span lang=EN-US
                                                       style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=apple-style-span><span lang=EN-US style='font-family:
"Georgia",serif;font-weight:normal'>Maintain utmost discretion when dealing
with sensitive topics</span></span></h2>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
22.3pt;margin-bottom:.0001pt;text-indent:-4.3pt'><span lang=EN-US style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=apple-style-span><span lang=EN-US style='font-family:
"Georgia",serif;font-weight:normal'>Manage travel and expense reports for
department team members </span></span></h2>

<p class=Body style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:18.0pt;margin-bottom:.0001pt;line-height:12.0pt'><span lang=EN-US
                                                                   style='font-family:"Georgia",serif'>&nbsp;</span></p>

<h2><span lang=EN-US style='font-family:"Georgia",serif;color:black;text-transform:
uppercase'>BrIGHT SPOT LTD</span><span lang=EN-US style='font-family:"Georgia",serif;
color:black'>, Boston, MA </span></h2>

<h2><span lang=EN-US style='font-family:"Georgia",serif;color:black;font-weight:
normal'>Secretary, June 2008 – August 2011</span></h2>

<p class=MsoListParagraph style='line-height:11.0pt'><span
  class=apple-style-span><span lang=EN-US style='font-size:10.0pt;font-family:
"Georgia",serif'>&nbsp;</span></span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;line-height:11.0pt'><span
  class=apple-style-span><span lang=EN-US style='font-size:10.0pt;font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span class=apple-style-span><span lang=EN-US
                                                        style='font-size:10.0pt;font-family:"Georgia",serif'>Typed documents such as
correspondence, drafts, memos, and emals, and prepared 3 reports weekly for
management </span></span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;line-height:11.0pt'><span
  class=apple-style-span><span lang=EN-US style='font-size:10.0pt;font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span class=apple-style-span><span lang=EN-US
                                                        style='font-size:10.0pt;font-family:"Georgia",serif'>Opened, sorted, and
distributed incoming messages and correspondence</span></span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;line-height:11.0pt'><span
  lang=EN-US style='font-size:10.0pt;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span class=apple-style-span><span lang=EN-US style='font-size:
10.0pt;font-family:"Georgia",serif;color:black'>Purchased and maintained office
supply inventories, and being careful to adhere to budgeting practices</span></span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;line-height:11.0pt'><span
  class=apple-style-span><span lang=EN-US style='font-size:10.0pt;font-family:
Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span class=apple-style-span><span lang=EN-US
                                                        style='font-size:10.0pt;font-family:"Georgia",serif'>Greeted visitors and
determined to whom and when they could speak with specific individuals</span></span></p>

<h2 style='margin-top:0cm;margin-right:43.2pt;margin-bottom:0cm;margin-left:
36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt'><span class=apple-style-span><span
  lang=EN-US style='font-family:Symbol;font-weight:normal'>·<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span
  class=apple-style-span><span lang=EN-US style='font-family:"Georgia",serif;
font-weight:normal'>Recorded, transcribed and distributed minutes of meetings</span></span></h2>

<p class=Body style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:12.0pt'><span
  lang=EN-US style='font-family:"Georgia",serif'>&nbsp;</span></p>

<h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm'><span lang=EN-US style='font-size:12.0pt;font-family:"Georgia",serif'>Education</span></h1>

<h2><span lang=EN-US style='font-family:"Georgia",serif;color:black'>RIVER BROOK
UNIVERSITY, Chicago, IL</span></h2>

<p class=MsoNormal style='line-height:11.0pt'><i><span lang=EN-US
                                                       style='font-family:"Georgia",serif'>Bachelor of Arts in History, May 2008</span></i>
</p>

<h2><i><span lang=EN-US style='font-family:"Georgia",serif;color:black;
font-weight:normal'>&nbsp;</span></i></h2>

<ul style='margin-top:0cm' type=disc>
  <li class=MsoNormal><span lang=EN-US style='font-size:11.0pt'>Graduated Cum
     Laude</span></li>
</ul>

<p class=Body style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:18.0pt;margin-bottom:.0001pt;line-height:12.0pt'><span lang=EN-US
                                                                   style='color:windowtext'>&nbsp;</span></p>

<h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm'><span lang=EN-US style='font-size:12.0pt;font-family:"Georgia",serif'>Additional
Skills</span></h1>

{% for skill in r.additionalskills_set.all %}
<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;line-height:
11.0pt'><span lang=EN-US style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-US style='font-family:"Georgia",serif'>{{ skill.skill }}</span></p>
{% endfor %}


</div>

</body>

</html>
